@tailwind base;
@tailwind components;
@tailwind utilities;


/* Entire scrollbar */
::-webkit-scrollbar {
    width: 1px; /* Width of the vertical scrollbar */
    height: 1px; /* Height of the horizontal scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; /* Background color of the track */
}

/* Handle (draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scrollbar thumb on hover */
}

/* Optional: Track on hover */
::-webkit-scrollbar-track:hover {
    background: #e1e1e1; /* Background color of the track on hover */
}

/* Optional: Bottom corner where horizontal and vertical scrollbars meet */
::-webkit-scrollbar-corner {
    background: #f1f1f1;
}
